#path-finder {
  height: 90vh;
}

.path-finder-container {
 position: absolute;
  top: 60vh;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.grid{

  position: relative;
  margin: 100px auto;
  height: 65vh;
  width: 65vh;
  display: flex;
  flex-direction: column;
}

.row {
  width: 100%;
  height: 10%;
  display: flex;
}

.row10{
  height: calc(10% + 5px);
}

.row9 .node {
  box-sizing: border-box;
  border-bottom: 5px solid white;
}

.node {
	
  width: 10%;
  height: 100%;
  border-top: 5px solid white;
  border-left: 5px solid white;
  transition: 0.3s;
}

.node:hover{
  transform: scale(1.05);	
}

.node:nth-last-child(1){
  border-right: 5px solid white;
  width: calc(10% + 5px);
}

.clicked {
  background-color: #c24e00 ;
}
.pf-button {
  padding: 20px 40px;
  background-color: #c24e00;
  font-size: 20px;
  text-transform: uppercase;
  font-family: 'Source Sans Pro';
  color: white;
}


